fastapi>=0.115.0
starlette>=0.37.2
anyio>=3.7.1
uvicorn[standard]>=0.30.0
python-multipart>=0.0.9
pydantic>=2.7.0
pydantic-settings>=2.4.0
python-dotenv>=1.0.1
pymysql>=1.1.1
redis>=5.0.0
pillow>=10.4.0
oss2>=2.18.6
